.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.box {
    border: 1px solid #727272;
    border-radius: 2px;
    height: 30rem;
    width: 20rem;
}